html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'STIX Two Text', serif;
    /* font-family: 'Caladea', serif; */
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

li{
    list-style: none;
}

p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    /* color: #606060; */
}

.knowMe h2{
    font-size: 1.1rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}


/* ************** main CSS starts ************* */



/* *********** Header Starts ************* */

.logo img{
    width: 130px;
    margin: -42px;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 170, 255, 0.45), rgba(0,168,255,0.45)), url('image1.jpg');
    background-repeat: no-repeat;
    background-size: 130% 110%;
    /* background-size: 100% 100%; */
    background-position: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 58% 100%, 0% 75%);
    position: relative;
}

.header::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #0253af 0%, #0cf5da 0%, #03c7f8 100%);
    opacity: 0.2;
    z-index: -1;
}

.navbar::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    opacity: 0.5;
    z-index: -1;    
}

/* .menuCon{
    position: relative;
} */

.navDiv{
    padding: 0 1.3rem !important;
}


.menu{
    position: relative;
    padding: 0 0.3rem !important;
}

.menu::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(8, 6, 146);
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.menu:hover::after{
    width: 100%;
}

.headerSec{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.centerDiv{
    width: 100%;
    height: auto;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerButtons a{
    border: 1.5px solid #fff;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: center;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.headerButtons a:hover{
    border: 4px solid #fff;
    color: #50d1c0;
    font-weight: 600;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 10px #50d1c0;
}

.centerDiv p{
    font-size: 1.4rem;
    padding: 5px 0 20px 0;
    color: rgb(22, 3, 107);
    font-weight: 500;
}

.myName{
    display: inline;
    font-size: 4.5rem;
    letter-spacing: 2px;
    word-spacing: 5px;
    background: linear-gradient(to right, #f32170, #e6d305, #034577, #b302a4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* *********** Header Ends ************* */





/* *********** About Starts ************* */

.about{
    width: 100%;
    padding: 50px 0;
    margin-bottom: 50px;
}

.me h2{
    text-align: center;
    font-size: 2.9rem;
}

.me > p{
    text-align: center;
    margin-top: -15px;
    color: rgb(221, 9, 9);
    font-weight: 600;
    margin-bottom: 50px;
}

.me img{
    height: 250px;
}

.me h3{
    font-size: 2.1rem;
    font-weight: 500;
}

.me p{
    font-size: 1rem;
}

.bodyButton{
    background-color: #50d1c0;
    border-radius: 10px;
    padding: 12px 26px;
    outline: none;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: center;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.bodyButton:hover{
    border: 1px solid #50d1c0;
    color: #50d1c0;
    font-weight: 600;
    padding: 16px 30px;
    text-decoration: none;
    background-color: transparent;
    box-shadow: 0 0 15px 0 #50d1c0, 0 0 15px 0 inset #50d1c0;
    text-shadow: 0 0 10px #50d1c0;
}

.knowMe{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
}

.box{
    background: #fff;
    border: medium none;
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
}

.box:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
}

/* *********** About Ends ************* */







/* *********** Skills Starts ************* */

.skills{
    width: 100%;
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}

.skills h2{
    text-align: center;
    font-size: 2.9rem;
}

.skills > p{
    text-align: center;
    margin-top: -15px;
    color: rgb(221, 9, 9);
    font-weight: 600;
    margin-bottom: 50px;
}

.skills h3{
    font-size: 2.1rem;
    font-weight: 500;
}

.skills p{
    font-size: 1rem;
}

.skills .tag{
    font-size: 1.4rem;
    margin-bottom: 2px;
    margin-top: 20px;
}

.progress{
    height: 0.7rem;
    margin-bottom: 25px;
}

/* *********** Skills Ends ************* */




/* *********** Projects Starts ************* */

.projects{
    width: 100%;
    /* height: 100vh; */
    padding: 50px;
    margin-bottom: 50px;
    position: relative;
}

.projects::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}

.projects h2{
    text-align: center;
    font-size: 2.9rem;
}

.projects > p{
    text-align: center;
    margin-top: -15px;
    color: rgb(221, 9, 9);
    font-weight: 600;
    margin-bottom: 50px;
}

.myProjects h4{
    font-weight: 600;
}

.card{
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

/* *********** Projects Ends ************* */




/* *********** Contact Starts ************* */

.contact{
    width: 100%;
    padding: 50px 0;
    margin-bottom: 50px;
    position: relative;
}

.contact::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);
}

.contact h2{
    text-align: center;
    font-size: 2.9rem;
}

.contact > p{
    text-align: center;
    margin-top: -15px;
    color: rgb(221, 9, 9);
    font-weight: 600;
    margin-bottom: 50px;
}

/* *********** Contact Ends ************* */





/* *********** Newsletter Starts ************* */





/* *********** Newsletter Ends ************* */

.newsletter{
    width: 100%;
    padding: 50px 0;
    margin-bottom: 50px;
}

.newsletter h2{
    text-align: center;
    font-size: 2.9rem;
}

.newsletter > p{
    text-align: center;
    margin-top: -15px;
    color: rgb(221, 9, 9);
    font-weight: 600;
    margin-bottom: 50px;
}

/* *********** Footer Ends ************* */

.footer{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;
}

.footer p{
    color: #fff;
}

.footer li a{
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}

.footer li a:hover{
    text-decoration: underline;
}

.footer h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* *********** Footer Ends ************* */







/* *********** Media Queries ************* */

@media(max-width: 768px){
    
    html{
        font-size: 75%;
    }

    .header{
        height: 60vh;
        background-size: 100% 100%;
    }

    .nav-item{
        text-align: center;
        margin: 8px;
    }

    .about img{
        width: 300px;
        margin-bottom: 40px;
    }

    .box{
        margin-top: 20px;
        padding: 30px;
    }

    .projects .card{
        margin-bottom: 10px;
    }

    .footerDiv:nth-child(2){
        text-align: left !important;
    }

    .footerDiv{
        margin: 10px 0;
    }

}


